body {
  margin: 20px;
  box-sizing: border-box;
}

img {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 20%;
  margin: 70px 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 30px;
}