@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

body {
  margin: 20px;
  box-sizing: border-box;
}

img {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 20%;
  margin: 70px 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 30px;
}

.rollbtn {
  font-size: 25px;
  font-family: 'Young Serif', serif;
  border: none;
  background-color: rgb(250, 113, 193);
  color: white;
  border-radius: 5px;
  padding: auto;
}